body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://lepetitpaco.com/assets/img/wallpaper.png');
    background-color: #8b8b8b;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 90%;
    background-color: rgba(55, 49, 77, 0.8);
    padding: 20px;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #ffffff;
}

h1 {
    color: #007bff50;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#sound-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Adjustments to .sound-btn for better default visibility */
.sound-btn {
    padding: 10px 15px !important;
    background-color: #007bff50 !important;
    color: white !important;
    border-radius: 0.25rem !important;
    cursor: pointer !important;
    transition: transform 0.2s ease, background-color 0.2s ease !important;
    flex-grow: 1 !important;
    margin: 5px !important;
    border: none !important;
}

.sound-btn:hover,
.sound-btn:focus {
    transform: translateY(-2px);
    background-color: #00b351 !important;
}

.audio-disclaimer {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.audio-disclaimer h4 {
    color: #007bff;
}

.audio-disclaimer ul {
    text-align: left;
}

@media (max-width: 768px) {
    .audio-disclaimer {
        font-size: 14px;
    }
}

.sound-controls {
    background-color: transparent;
    /* Light grey background, adjust as needed */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
}

#stopAllSounds {
    font-weight: bold;
    /* Make text bold for better readability */
}

.volume-control-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-volume-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.custom-volume-slider:hover {
    opacity: 1;
}

.custom-volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0062cc;
    cursor: pointer;
}

.custom-volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0062cc;
    cursor: pointer;
}

#activeUsers {
    position: fixed;
    /* Fixed positioning to keep it at the same spot */
    top: 20px;
    /* 20px from the top */
    right: 20px;
    /* 20px from the right */
    font-size: 8em;
    /* Large font size */
    color: #ffffff;
    /* White text color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    padding: 10px;
    /* Padding around the text */
    border-radius: 10px;
    /* Rounded corners */
    z-index: 1000;
    /* Ensure it sits above other content */
    pointer-events: none;
}

.folder-group {
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    overflow: hidden;
}

.folder,
.subfolder {
    padding: 10px 15px;
    background-color: #007bff50;
    color: white;
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.folder:hover,
.subfolder:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.folder::after,
.subfolder::after {
    content: '▼';
    font-weight: bold;
    transition: transform 0.3s ease;
}

.folder.open::after,
.subfolder.open::after {
    transform: rotate(180deg);
    content: '▲';
}

.subfolder {
    background-color: #0062cc;
    /* Slightly darker background for subfolders */
}

.file-list {
    display: none;
    padding: 15px 15px;
}

#toastContainer .toast {
    font-size: 1rem;
    /* Adjust the font size as needed */
    background-color: rgba(51, 51, 51, 0.85);
    /* Semi-transparent black background */
    color: #ffffff;
    /* White text color */
    border-radius: 0.25rem;
    /* Rounded corners */
}

#toastContainer .toast .toast-body {
    white-space: nowrap;
    /* Prevent text from wrapping */
}

#toastContainer .toast.showing,
#toastContainer .toast.show,
#toastContainer .toast.hide {
    opacity: 1;
    /* Make toast fully visible when animating in/out */
}

.toast-header {
    background-color: rgba(34, 34, 34, 0.85);
    /* Darker background for the header */
    color: #ffffff;
    /* White text color for the header */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* Light border for the header */
}

.soundboard-title {
    margin-right: 20px;
    /* Adjust the value as needed */
}